@import "~Common/scss/reset.css";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro");

$sans-stack: "Source Sans Pro", sans-serif;
$serif-stack: "Source Serif Pro", serif;

// https://color.adobe.com/Zodiaco-1-color-theme-10823936/
$red: #ff5353;
$purple: #a972e8;
$blue: #63bfff;
$green: #62e88e;
$yellow: #fbff5f;
$gray: #595959;

html {
	box-sizing: border-box;
	font-family: $sans-stack;
}

@mixin button($color) {
	background-color: $color;
	color: #fff;
	display: inline-block;
	padding: 15px;
	border: 1px solid $color;
	text-align: center;
	height: 48px;
	text-decoration: none;

	&:hover {
		color: $color;
		background-color: #fff;
		text-decoration: none;
	}

	margin-right: 1px;
	&:last-child {
		margin-right: 0;
	}
}

.button-gray {
	@include button($gray);
}

.button-green {
	@include button($green);
}

.button-red {
	@include button($red);
}

.button-purple {
	@include button($purple);
}

.button-yellow {
	@include button($yellow);
}

.button-blue {
	@include button($blue);
}
