@import "~Common/scss/common.scss";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro");

$sans-stack: "Source Sans Pro", sans-serif;
$serif-stack: "Source Serif Pro", serif;

html {
	box-sizing: border-box;
	font-family: $sans-stack;
}

body {
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

$branch-item-height: 20px;
$branch-item-width: 20px;

.timeline-row {
	margin: 0;
	height: $branch-item-height;
	line-height: $branch-item-height;
	vertical-align: top;
	display: block;
	white-space: nowrap;
}

%branch-item {
	display: inline-block;
	height: $branch-item-height;
	width: $branch-item-width;
}

// fork in branch
.branch-L {
	@extend %branch-item;
	background: url("/svg/L.svg");
}

// fork in branch, with another fork after
.branch-T {
	@extend %branch-item;
	background: url("/svg/T.svg");
}

// straight line in branch without history step
.branch-I {
	@extend %branch-item;
	background: url("/svg/I.svg");
}

// horizontal line for fork
.branch-- {
	@extend %branch-item;
	background: url("/svg/-.svg");
}

// history step in branch
.branch-node {
	@extend %branch-item;
	background: #000;
	background-size: $branch-item-width $branch-item-height;
}

// empty spacer in branch
.branch-empty {
	@extend %branch-item;
}

.timeline-step {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	overflow-x: hidden;
	white-space: nowrap;
	text-align: left;
}
